.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    }

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info { 
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUsername {
    opacity: .6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-buttom {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: all 0.4s ease, color 0.4s ease;
}

.tw-followcard-text {
    display: block;

}

.tw-followCard-buttom:hover{
    opacity: .8;
    background-color: #333;
    color: #fff;

}

.tw-followCard-buttom.is-following {
    background-color: #333;
    color: #fff;
    border: #fff 1px solid;
    background: transparent;
    width: 140px;
}

.tw-followCard-buttom.is-following:hover  {
    background-color: rgba(125, 26, 9, 0.4);
    color: #dd0d0d;
    border: none;
    transition: all 0.4s ease, color 0.4s ease; 
}

.tw-followCard-buttom.is-following:hover .tw-followcard-text {
    display: none;
}
.tw-followCard-buttom.is-following:hover .tw-followcard-stopFollow {
    display: block;
}

.tw-followcard-stopFollow {
    display: none;
}